{
  "branches": [
    "master",
    {
        "name": "mfa",
        "prerelease": true
    },
    {
        "name": "zerosessionidfix",
        "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
