GOTRUE_SITE_URL="http://localhost:3000"
GOTRUE_JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpncXF1anlraXlsa2Z6dmV0dHN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk0NDI5OTMsImV4cCI6MjA0NTAxODk5M30.L_HB-_P0HthlNo0U03xOm9qIaezVR-FGNE2zokt1Kd0"
GOTRUE_DB_MIGRATIONS_PATH=/go/src/github.com/supabase/auth/migrations
GOTRUE_DB_DRIVER=postgres
DATABASE_URL=postgres://supabase_auth_admin:root@postgres:5432/postgres
GOTRUE_API_HOST=0.0.0.0
API_EXTERNAL_URL="http://localhost:9999"
PORT=9999
