name: Publish to Image Registry

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            supabase/gotrue
            public.ecr.aws/supabase/gotrue
            ghcr.io/supabase/gotrue
            ghcr.io/supabase/auth
            436098097459.dkr.ecr.us-east-1.amazonaws.com/gotrue
            646182064048.dkr.ecr.us-east-1.amazonaws.com/gotrue
            supabase/auth
            public.ecr.aws/supabase/auth
            436098097459.dkr.ecr.us-east-1.amazonaws.com/auth
            646182064048.dkr.ecr.us-east-1.amazonaws.com/auth
          flavor: |
            latest=false
          tags: |
            type=raw,value=v${{ inputs.version }},enable=true

      - uses: docker/setup-qemu-action@v2
        with:
          platforms: amd64,arm64

      - run: |
          set -ex

          echo "Adding explicit release version to Dockerfile..."

          sed -i 's/RELEASE_VERSION=unspecified/RELEASE_VERSION=${{ inputs.version }}/' Dockerfile

      - uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: configure aws credentials - prod
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.PROD_AWS_ROLE }}
          aws-region: us-east-1
      - name: Login to ECR
        uses: docker/login-action@v2
        with:
          registry: public.ecr.aws
      - name: Login to ECR account - prod
        uses: docker/login-action@v2
        with:
          registry: 646182064048.dkr.ecr.us-east-1.amazonaws.com

      - name: configure aws credentials - staging
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.DEV_AWS_ROLE }}
          aws-region: us-east-1
      - name: Login to ECR account - staging
        uses: docker/login-action@v2
        with:
          registry: 436098097459.dkr.ecr.us-east-1.amazonaws.com

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v3
        with:
          context: . # IMPORTANT: Dockerfile is modified above to include the release version. Don't remove this line: https://github.com/docker/build-push-action?tab=readme-ov-file#git-context
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
